<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action='/login' method="post">
    <div>
        <h2>Username:</h2>
    <input type="text" name="user" >
    </div>
    <div>
        <h2>Password:</h2>
    <input type="text" name="pwd">
    </div>
    <input type="submit" value="Login">
</form>
<form action="/register" method="get">
    <input type="submit" value="Register">
    </form>
<div style="color:red;background-color:yellow">{{error}}{{msg}}</div>
</body>
</html>